@FONT-FACE {
  font-family: "DroidKufi-Regular";
  src: url("./fonts/DroidKufi-Regular.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::selection {
  background-color: var(--primary-color-bg);
  color: #fff;
}

html {
  font-size: 62.5%;
  direction: rtl;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 940px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 778px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 490px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 300) {
  html {
    font-size: 45%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'DroidKufi-Regular',sans-serif !important;
  font-size: var(--fon-size);
  -webkit-font-smoothing: antialiased;
  line-height: 1.167;
  font-weight: 400;
  overflow-x: hidden;
}

a,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

svg {
  fill: var(--text-color);
}

input[type="email"], input[type="password"], input[type="tel"], input[type="text"], select, textarea {
  outline: 0;
  border: none;
  height: 38px;
  line-height: 38px;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #fff;
  color: var(--text-color);
  width: 100%;
}

input:focus {
  outline: none;
}

.controllers.slidecontroller {
  position: absolute;
  top: 50%;
  width: 100%;
}

.controllers.slidecontroller span {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  width: 48px;
  height: 48px;
  font-size: 36px !important;
  line-height: 46px !important;
  text-align: center;
  font-weight: 400 !important;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.controllers.slidecontroller span:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: var(--primary);
}

.controllers.slidecontroller #prev {
  position: absolute;
  left: 0;
}

.controllers.slidecontroller #next {
  position: absolute;
  right: 0;
}

.controllers.slidecontroller-book {
  position: absolute;
  top: 33%;
  width: 100%;
}

.controllers.slidecontroller-book span {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 36px !important;
  line-height: 46px !important;
  text-align: center;
  font-weight: 400 !important;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.controllers.slidecontroller-book span:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: var(--primary);
}

.controllers.slidecontroller-book #prev {
  position: absolute;
  left: -4rem;
}

.controllers.slidecontroller-book #next {
  position: absolute;
  right: -4rem;
}

.controllers.slidecontroller-testemonial {
  position: absolute;
  top: 40%;
  width: 100%;
}

.controllers.slidecontroller-testemonial span {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 36px !important;
  line-height: 46px !important;
  text-align: center;
  font-weight: 400 !important;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.controllers.slidecontroller-testemonial span:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: var(--primary);
}

.controllers.slidecontroller-testemonial #prev {
  position: absolute;
  left: -4rem;
}

.controllers.slidecontroller-testemonial #next {
  position: absolute;
  right: -4rem;
}
