.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 924px;
  }
}

@media screen and (max-width: 940px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding: 0 20px;
  }
}

.text-center {
  text-align: center;
}

.main-header {
  font-family: "Poppins",sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  color: var(--dark-text-color);
}

.normmalP {
  letter-spacing: unset;
  font-size: var(--font-size);
  line-height: 2.6rem;
  color: var(--text-color);
}

.white-header {
  color: #fff;
  font-size: 2rem;
  line-height: 2.4rem;
}

.z-i10 {
  z-index: 10;
}

.section-header {
  margin-bottom: 3.7rem;
  font-family: "Poppins",sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.section-p {
  margin-bottom: 7.4rem;
  padding: 0 10% 0 8.5%;
  letter-spacing: unset;
  font-size: var(--font-size);
  line-height: 2.6rem;
  color: var(--text-color);
}

.hover-1-wrapper {
  overflow: hidden;
}

.hover-1 {
  transition: 0.9s ease-in-out;
}

.hover-1:hover {
  transform: scale(1.15);
}

.hover-2:hover .overlay {
  opacity: .5;
}

.hover-2:hover .vline.top::after {
  height: 100%;
}

.hover-2:hover .vline.top::before {
  width: 100%;
}

.hover-2:hover .vline.bottom::before {
  width: 100%;
}

.hover-2:hover .vline.bottom::after {
  height: 100%;
}

.overlay {
  opacity: 0;
  background: #515e6f;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transition: all .3s ease;
}

.overlay.small .top {
  top: 5px;
  left: 5px;
}

.overlay.small .bottom {
  background: transparent !important;
  bottom: 5px;
  left: 5px;
}

.vline {
  position: absolute;
  z-index: 9;
  height: calc(50% - 20px);
  width: calc(50% - 20px);
  transition: all .3s ease-out;
}

.vline::before, .vline::after {
  content: '';
  background: #fff;
  display: block;
  transition: all 0.5s ease;
}

.vline.top {
  top: 20px;
  left: 20px;
}

.vline.top::before {
  height: 1px;
  width: 0;
}

.vline.top::after {
  width: 1px;
  height: 100%;
}

.vline.bottom {
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
  transform: rotate(180deg);
  background-color: transparent !important;
}

.vline.bottom::before {
  height: 1px;
  width: 0;
}

.vline.bottom::after {
  width: 1px;
  height: 0;
}

.delay-1s {
  transition-delay: 1s;
  animation-delay: 1s;
}

.delay-400ms {
  transition-delay: 400ms;
  animation-delay: 400ms;
}

.delay-500ms {
  transition-delay: 500ms;
  animation-delay: 500ms;
}

.animated {
  visibility: visible !important;
}

.text-white {
  color: #fff;
}

.footer .gallery__images .gallery__images--imagebox figure img {
  width: 100%;
  height: 100%;
}

.vue-star-rating-rating-text {
  display: none !important;
}
