.author {
    background-color: #fff;
    padding: 0 2rem !important;
    direction: rtl;

    @media screen and (max-width: 390px) {
        padding: 0 10rem !important;
    }

    @media screen and (max-width: 380px) {
        padding: 0 9rem !important;
    }

    @media screen and (max-width: 375px) {
        padding: 0 8rem !important;
    }

    @media screen and (max-width: 350px) {
        padding: 0 7rem !important;
    }

    @media screen and (max-width: 330px) {
        padding: 0 5rem !important;
    }

    @media screen and (max-width: 310px) {
        padding: 0 2rem !important;
    }

    @media screen and (max-width: 250px) {
        padding: 0 0 !important;
    }

    &__content {
        border: 1px solid var(--grey-border);
    }

    &__imagebox {
        overflow: hidden;
        position: relative;

        & a {
            & .img {
                width: 100%;
            }
        }
    }

    &__details {
        padding: 2.6rem 2.9rem 1.6rem 2.9rem;
        background: #fff;
    }

    &__name {
        margin-bottom: .9rem;
        font-size: 2rem;
        line-height: 2.4rem;

        & a {
            color: var(--text-color);
            transition: all .3s;

            &:hover {
                color: var(--primary);
            }
        }
    }

    &__title {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    &__description {
        line-height: 2.2rem;
        margin-bottom: 1rem;
    }

    & .icons {
        border-top: 1px solid var(--grey-border);

        &__list {
            display: flex;
            justify-content: center;
            padding: 1rem 0;

            & li {
                &:not(:last-child) {
                    // margin-right: 1rem;
               
                }

                & a {
                    & svg {
                        transform: scale(0.6);
                    }
                }
            }
        }
    }
}
