:root {
  --primary: #fbbb2c;
  --secondary:#b08014;
  --main-bg-color: #f7f7f7;
  --primary-color-bg: rgba(251, 187, 44, 0.95);
  --font-size: 1.6rem;
  --dark-text-color: #192836;
  --text-color: #515e6f;
  --text-color-2: #ddd3d3;
  --grey-text-color: #888686;
  --grey-border: #dbdbdb;
  --grey-bg: #f7f7f7;
  --grey-light:rgb(226, 226, 226);
}
