:root {
  --primary: #fbbb2c;
  --secondary: #b08014;
  --main-bg-color: #f7f7f7;
  --font-size: 1.6rem;
  --dark-text-color: #192836;
  --text-color: #515e6f;
  --text-color-2: #ddd3d3;
  --grey-text-color: #888686;
  --grey-border: #e2d8d8;
  --grey-bg: #f7f7f7;
  --grey-light: #e2e2e2;
}

.animated {
  visibility: hidden;
}

.animated.active {
  visibility: visible;
}

@FONT-FACE {
  font-family: "DroidKufi-Regular";
  src: url("./fonts/DroidKufi-Regular.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::selection {
  background-color: rgba(201, 5, 6, 0.7);
  color: #fff;
}

html {
  font-size: 62.5%;
  direction: rtl;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 940px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 778px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 490px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 300) {
  html {
    font-size: 45%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'DroidKufi-Regular',sans-serif !important;
  font-size: var(--fon-size);
  -webkit-font-smoothing: antialiased;
  line-height: 1.167;
  font-weight: 400;
  overflow-x: hidden;
}

a,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

svg {
  fill: var(--text-color);
}

input[type="email"], input[type="password"], input[type="tel"], input[type="text"], select, textarea {
  outline: 0;
  border: none;
  height: 38px;
  line-height: 38px;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #fff;
  color: var(--text-color);
  width: 100%;
}

input:focus {
  outline: none;
}

.controllers.slidecontroller {
  position: absolute;
  top: 50%;
  width: 100%;
}

.controllers.slidecontroller span {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  width: 48px;
  height: 48px;
  font-size: 36px !important;
  line-height: 46px !important;
  text-align: center;
  font-weight: 400 !important;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.controllers.slidecontroller span:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: var(--primary);
}

.controllers.slidecontroller #prev {
  position: absolute;
  left: 0;
}

.controllers.slidecontroller #next {
  position: absolute;
  right: 0;
}

.controllers.slidecontroller-book {
  position: absolute;
  top: 33%;
  width: 100%;
}

.controllers.slidecontroller-book span {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 36px !important;
  line-height: 46px !important;
  text-align: center;
  font-weight: 400 !important;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.controllers.slidecontroller-book span:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: var(--primary);
}

.controllers.slidecontroller-book #prev {
  position: absolute;
  left: -4rem;
}

.controllers.slidecontroller-book #next {
  position: absolute;
  right: -4rem;
}

.controllers.slidecontroller-testemonial {
  position: absolute;
  top: 40%;
  width: 100%;
}

.controllers.slidecontroller-testemonial span {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 36px !important;
  line-height: 46px !important;
  text-align: center;
  font-weight: 400 !important;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.controllers.slidecontroller-testemonial span:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: var(--primary);
}

.controllers.slidecontroller-testemonial #prev {
  position: absolute;
  left: -4rem;
}

.controllers.slidecontroller-testemonial #next {
  position: absolute;
  right: -4rem;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 924px;
  }
}

@media screen and (max-width: 940px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding: 0 20px;
  }
}

.text-center {
  text-align: center;
}

.main-header {
  font-family: "Poppins",sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  color: var(--dark-text-color);
}

.normmalP {
  letter-spacing: unset;
  font-size: var(--font-size);
  line-height: 2.6rem;
  color: var(--text-color);
}

.white-header {
  color: #fff;
  font-size: 2rem;
  line-height: 2.4rem;
}

.z-i10 {
  z-index: 10;
}

.section-header {
  margin-bottom: 3.7rem;
  font-family: "Poppins",sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.section-p {
  margin-bottom: 7.4rem;
  padding: 0 10% 0 8.5%;
  letter-spacing: unset;
  font-size: var(--font-size);
  line-height: 2.6rem;
  color: var(--text-color);
}

.hover-1-wrapper {
  overflow: hidden;
}

.hover-1 {
  transition: 0.9s ease-in-out;
}

.hover-1:hover {
  transform: scale(1.15);
}

.hover-2:hover .overlay {
  opacity: .5;
}

.hover-2:hover .vline.top::after {
  height: 100%;
}

.hover-2:hover .vline.top::before {
  width: 100%;
}

.hover-2:hover .vline.bottom::before {
  width: 100%;
}

.hover-2:hover .vline.bottom::after {
  height: 100%;
}

.overlay {
  opacity: 0;
  background: #515e6f;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transition: all .3s ease;
}

.overlay.small .top {
  top: 5px;
  left: 5px;
}

.overlay.small .bottom {
  bottom: 5px;
  right: 5px;
}

.vline {
  position: absolute;
  z-index: 9;
  height: calc(50% - 20px);
  width: calc(50% - 20px);
  transition: all .3s ease-out;
}

.vline::before, .vline::after {
  content: '';
  background: #fff;
  display: block;
  transition: all 0.5s ease;
}

.vline.top {
  top: 20px;
  left: 20px;
}

.vline.top::before {
  height: 1px;
  width: 0;
}

.vline.top::after {
  width: 1px;
  height: 100%;
}

.vline.bottom {
  top: auto;
  left: auto;
  bottom: 20px;
  right: 20px;
  transform: rotate(180deg);
}

.vline.bottom::before {
  height: 1px;
  width: 0;
}

.vline.bottom::after {
  width: 1px;
  height: 0;
}

.delay-1s {
  transition-delay: 1s;
  animation-delay: 1s;
}

.delay-400ms {
  transition-delay: 400ms;
  animation-delay: 400ms;
}

.delay-500ms {
  transition-delay: 500ms;
  animation-delay: 500ms;
}

.animated {
  visibility: visible !important;
}

h3 {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 29px;
  font-weight: 500;
  text-transform: capitalize;
}

p {
  font-size: var(--font-size);
  line-height: 2.3rem;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.btn-text {
  display: flex;
  width: 11rem;
  border-bottom: 1px solid var(--primary);
  padding: 3px;
  font-size: var(--font-size);
  transition: all .2s linear;
}

.btn-text:hover {
  background-color: var(--primary);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  transition: all .2s linear;
}

.btn-text:hover svg {
  fill: #fff;
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.btn-text svg {
  transform: scale(0.6);
}

.btn-apply {
  height: 47px;
  line-height: 44px;
  padding: 0 34px;
  font-weight: 700;
  font-size: 16px;
  border: unset;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
  color: #fff;
  background: var(--primary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-apply:hover {
  background-color: #000;
  color: var(--primary);
}

html {
  direction: rtl;
}

html body .about__info .btn-text svg {
  transform: rotate(180deg) scale(0.7);
}

html body span#prev, html body span#next {
  font-weight: bold !important;
}

html body span#prev {
  left: auto !important;
  right: -4rem !important;
}

html body span#next {
  right: auto !important;
  left: -4rem !important;
}

html body .slidecontroller span#prev {
  right: 0 !important;
}

html body .slidecontroller span#next {
  left: 0 !important;
}

html body .slides {
  direction: ltr !important;
}

html body .contacts__item .phone-icon {
  transform: rotate(250deg) scale(0.5) !important;
}

html body .vline.bottom {
  left: 20px;
  right: auto;
}

html body .vline.top {
  right: 20px;
}

html body .about__p .content__wrap {
  right: -100px !important;
  left: auto;
}

@media screen and (max-width: 776px) {
  html body .about__p .content__wrap {
    position: relative;
    top: 0 !important;
    right: 0 !important;
    margin-top: 6rem;
  }
}

html body .contact__map div {
  left: 0 !important;
  right: auto !important;
}

html body .contact__contacts--wrapper .phone-icon {
  margin-top: 27px !important;
  transform: scale(1.65) rotate(260deg) !important;
}

html body .nav__link {
  letter-spacing: 0 !important;
}

html body .burger span {
  display: none;
}

html body .release__content .author {
  direction: rtl !important;
  text-align: right !important;
  display: block !important;
}

html body .release__content {
  direction: rtl !important;
}

html body .search-box__icon {
  left: 0;
  right: auto;
}
