.btn-text {
    display: flex;
    width: 13rem;
    border-bottom: 1px solid var(--primary);
    padding: 3px;
    font-size: var(--font-size);
    transition: all .2s linear;

    &:hover {
        background-color: var(--primary);
        color: #fff;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
        transition: all .2s linear;

        & svg {
            fill: #fff;
        }
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        transform: translateY(0);
    }

    & svg {
        transform: scale(0.6);
    }
}

.btn-apply {
    height: 47px;
    line-height: 44px;
    padding: 0 34px;
    font-weight: 700;
    font-size: 16px;
    border: unset;
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-transform: uppercase;
    color: #fff;
    background: var(--primary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #000;
        color: var(--primary);
    }
}

.btnrounded {
    background: #fff;
    position: relative;
    padding: 0 25px;
    border: 1px solid var(--grey-border);
    text-align: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
        background-color: var(--primary);
        color: #fff;
    }
}
