.light-box {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    top: 0;

    & .img {
        width: 50rem;
        position: relative;

        & .close {
            position: absolute;
            top: .5rem;
            right: 1rem;
            font-size: 3rem;
            font-weight: 700;
            cursor: pointer;
            color: #fff;
        }

        & img {
            width: 100%;
        }
    }
}
