.footer {
  background: url(http://themesflat.com/html/bookflare/images/footer/bg-footer.png) center center no-repeat;
  background-size: cover;
  padding: 10rem 0 5.8rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'about links gallery';
}

@media screen and (max-width: 940px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'about links' 'gallery .';
  }
}

@media screen and (max-width: 490px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-areas: 'about' 'links' 'gallery';
  }
}

.about {
  grid-area: about;
  margin-bottom: 2.6rem;
  padding-inline-end: 4rem;
}

.about__header {
  margin-bottom: 2.1rem;
  text-transform: uppercase;
}

.about__content p {
  color: var(--text-color-2) !important;
  margin-bottom: 3rem;
}

.contacts {
  margin-bottom: 2rem;
}

.contacts__item {
  transition: all 0.3s ease-in-out;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-bottom: 1rem;
}

.contacts__item:hover .contacts__content {
  color: var(--primary);
}

.contacts__item:hover svg {
  fill: var(--primary);
}

.contacts__item svg {
  transform: scale(0.5);
}

.contacts__icon {
  margin-inline-end: 1.2rem;
}

.contacts__content {
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--text-color-2);
}

.links {
  grid-area: links;
  padding-inline-end: 6rem;
  margin-bottom: 2.6rem;
}

.links__header {
  margin-bottom: 2.1rem;
  text-transform: uppercase;
}

.links__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.links__item {
  color: var(--text-color-2);
  transition: all .3s ease-in-out;
}

.links__item:hover {
  color: var(--primary);
}

.links__link {
  font-weight: 700;
  margin-bottom: 2rem;
  display: inline-block;
  position: relative;
  color: inherit;
  font-size: var(--font-size);
  transition: all .3s ease-in-out;
}

.links__link span {
  margin-left: .5rem;
  font-weight: normal;
}

.gallery {
  grid-area: gallery;
}

.gallery__header {
  margin-bottom: 2.1rem;
  text-transform: uppercase;
}

.gallery__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery__images--imagebox {
  margin: 1px;
  height: 8.5rem;
  cursor: pointer;
  position: relative;
}

.gallery__images--imagebox img {
  width: 100%;
  height: 100%;
}

.gallery .viewmore {
  margin: 2rem 0;
}

.gallery .viewmore:hover a {
  color: var(--primary);
}

.gallery .viewmore:hover a span {
  margin-left: .5rem;
}

.gallery .viewmore a {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--text-color-2);
  transition: all 0.3s ease-in-out;
}

.gallery .viewmore a span {
  transition: all 0.3s ease-in-out;
}

.bottom {
  background: #15222e;
}

.bottom__content {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
}

.bottom__content a {
  color: var(--primary);
  transition: all .3s ease-in-out;
}

.bottom__content a:hover {
  color: var(--text-color-2);
}

.bottom__content p {
  margin-bottom: 0;
}
