header.header {
    position: fixed;
    display: block;
    width: 100vw;
    z-index: 2;

    & svg {
        fill: #fff;
        cursor: pointer;
    }

    &.mini {
        background-color: #fff;
        z-index: 11;
        box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.3);

        @media screen and (max-width: 940px) {
            background-color: var(--primary);
        }

        & a {
            color: var(--text-color);

            @media screen and (max-width: 940px) {
                color: #fff;
            }
        }

        & svg {
            fill: var(--text-color);

            @media screen and (max-width: 940px) {
                fill: #fff;
            }
        }
    }
}

.content {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: "logo nav icons";

    @media screen and (max-width: 940px) {
        // grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "nav logo icons";
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.logobox {
    grid-area: logo;
    width: 8rem;
    height: 8rem;

    @media screen and (max-width: 940px) {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &.mini {
        height: 5rem;
        width: 5rem;

        @media screen and (max-width: 940px) {
            width: 100%;

            & img {
                height: 100%;
                width: auto !important;
            }

            & a {
                width: auto !important;
                display: flex;
                justify-content: center;
            }
        }
    }

    & a {
        @media screen and (max-width: 940px) {
            width: 10rem;
        }
    }

    & img {
        height: 100%;

        @media screen and (max-width: 940px) {
            width: 100%;
            height: auto;
        }
    }
}

nav.mainnav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 940px) {
        justify-content: center;
    }
}

.burger {
    display: none;
}

.nav {
    &__list {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;
    }

    &__close {
        opacity: 0;
        transition: all .3s;
    }

    &__item {
        padding: 0 1.5rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &.active {
            background-color: var(--primary);
            box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.08) inset;

            & .nav__link {
                color: #fff;
            }
        }

        &:hover {
            background-color: var(--primary);
            box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.08) inset;

            & .nav__link {
                color: #fff;
            }
        }
    }

    &__link {
        text-transform: uppercase;
        font-size: var(--font-size);
        color: #fff;
        font-weight: 700;
        letter-spacing: 2px;
        height: 100%;
        display: flex;
        align-items: center;

        &.ative {
            color: var(--primary);
        }

        @media screen and (min-width: 1200px) {
            font-size: 1.4rem;
        }
    }
}

.icons {
    grid-area: icons;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__search {
        margin-inline-end: 2rem;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            fill: var(--primary);
        }
    }
}

.search-box {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#fff, 0.95);
    transform: scale(2);
    visibility: hidden;
    transition: transform 0.3s cubic-bezier(1, 0, 0, 1), opacity 0.3s cubic-bezier(1, 0, 0, 1), background-color 0.3s cubic-bezier(1, 0, 0, 1);

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0) translateZ(1px) scale(1);
    }

    padding-top: 10%;

    &__form {
        width: 60%;
        position: relative;
        margin: 100px auto;
        border-bottom: 1px solid #d5d5d5;
    }

    &__input {
        position: relative;
        font-size: 50px;
        font-weight: 800;
        line-height: 50px;
        height: 80px;
        border: 0;
        border-radius: 0;
        width: 100%;
        background-color: transparent;

        @media screen and (max-width: 940px) {
            font-size: 12px;
            line-height: 30px;
            height: 30px;
        }
    }

    &__icon {
        position: absolute;
        fill: var(--text-color) !important;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
    }

    &__close {
        position: absolute;
        top: 2rem;
        left: 6rem;
        font-size: 5rem;
        font-weight: 300;
        color: var(--text-color);
        cursor: pointer;
        transition: .3s;

        &:hover {
            transform: rotate(90deg);
        }
    }
}

// //mobile nav
@media screen and (max-width: 940px) {
    .burger {
        display: flex;
        align-items: center;
        cursor: pointer;
        max-width: 7.5rem;

        &:hover {
            & div {
                &, &::after, &::before {
                    background-color: var(--secondary);
                }

                &::before {
                    top: -8px;
                }

                &::after {
                    top: 8px;
                }
            }

            & span {
                color: var(--secondary);
            }
        }

        & div {
            position: relative;
            display: block;
            transition: "background" .2s;

            &, &::after, &::before {
                height: 2px;
                width: 20px;
                display: block;
                position: absolute;
                background-color: #fff;
                transition: "background" .2s;
            }

            &::before {
                content: "";
                top: -7px;
            }

            &::after {
                content: "";
                top: 7px;
            }

            &:not(:last-child) {
                margin-bottom: .5rem;
            }
        }

        & span {
            font-weight: 700;
            color: #fff;
            margin-left: 3.5rem;
            text-transform: uppercase;
        }
    }

    nav.mainnav {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 10;
        background-color: var(--primary-color-bg);
        opacity: 0;
        width: 100vw;
        height: 100vh;
        transform: scale(2) translate3d(0, 0, 0);
        visibility: hidden;
        transition: transform 0.3s cubic-bezier(1, 0, 0, 1), opacity 0.3s cubic-bezier(1, 0, 0, 1), background-color 0.3s cubic-bezier(1, 0, 0, 1);

        &.active {
            opacity: 1;
            visibility: visible;
            transform: translateX(0) translateZ(1px) scale(1);
        }
    }

    .nav {
        &__list {
            // display: inline-block;
            display: flex;
            flex-direction: column;
        }

        &__close {
            position: absolute;
            top: 2rem;
            opacity: 1;
            left: 6rem;
            font-size: 5rem;
            color: #fff;
            cursor: pointer;
            transition: .3s;

            &:hover {
                transform: rotate(90deg);
            }
        }

        &__item {
            margin: 1rem;

            &.active {
                background-color: transparent;
                box-shadow: none;

                & .nav__link {
                    color: #fff;
                }
            }

            &:hover {
                background-color: transparent;
                box-shadow: none;

                & .nav__link {
                    color: var(--primary);
                }
            }
        }

        &__link {
            &:link,
            &:visited {
                font-size: 3rem;
                font-weight: 300;
                color: #fff;
                padding: 1rem 2rem;
                text-transform: uppercase;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
                background-size: 250%;
                transition: all .5s;
                background-color: transparent !important;
                display: flex;
                align-items: center;
            }

            & span {
                margin-right: 1.5rem;
            }

            &:hover,
            &:active {
                background-position: 100%;
                color: var(--primary);
                transform: translateX(1rem);
            }
        }
    }

    .icons {
        grid-area: icons;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &__search {
            margin-right: 2rem;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                fill: var(--primary);
            }
        }
    }
}
