.author {
  border: 1px solid #e6f3ff;
}

.author__imagebox {
  overflow: hidden;
  position: relative;
}

.author__imagebox a img {
  width: 100%;
}

.author__details {
  padding: 2.6rem 2.9rem 1.6rem 2.9rem;
  background: #fff;
}

.author__name {
  margin-bottom: .9rem;
  font-size: 2rem;
  line-height: 2.4rem;
}

.author__name a {
  color: var(--text-color);
  transition: all .3s;
}

.author__name a:hover {
  color: var(--primary);
}

.author__title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.author__description {
  line-height: 2.2rem;
  margin-bottom: 1rem;
}

.author .icons {
  border-top: 1px solid #e6f3ff;
}

.author .icons__list {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.author .icons__list li a svg {
  transform: scale(0.6);
}
