.gallery {
  margin: 7rem 0;
  display: grid;
  grid-template-areas: "filters" "gallery";
  grid-template-rows: 1fr;
}

.gallery__filters {
  text-align: center;
  grid-area: filters;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  .gallery__filters {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .gallery__filters {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
  }
}

.gallery__filters li {
  font-size: 14px;
  cursor: pointer;
  padding: 9px 22px;
  border: 1px solid var(--primary);
  color: var(--text-color);
  border-radius: 25px;
  transition: .3s;
  flex-wrap: wrap;
}

.gallery__filters li:not(:last-child) {
  margin-inline-end: 2rem;
}

.gallery__filters li:hover {
  color: #fff;
  background-color: var(--primary);
}

.gallery__filters li.active {
  color: #fff;
  background-color: var(--primary);
}

.gallery__images {
  grid-area: gallery;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

@media screen and (max-width: 940px) {
  .gallery__images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .gallery__images {
    grid-template-columns: 1fr;
  }
}

.gallery__images-enter, .gallery__images-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.gallery__images-leave-active {
  position: relative;
}

.gallery__image {
  position: relative;
  width: 100%;
}

.gallery__image--overlay {
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: linear-gradient(45deg, rgba(201, 5, 6, 0.9) 0%, rgba(243, 114, 139, 0.95) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(-10px) translateY(10px);
  transition: 0.5s ease-in-out;
}

.gallery__image--overlay span {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
}

.gallery__image--overlay span svg {
  transform: scale(0.8);
  fill: var(--primary);
  transition: all 0.3s;
}

.gallery__image--overlay span:hover {
  background-color: var(--primary);
}

.gallery__image--overlay span:hover svg {
  fill: #fff;
}

.gallery__image--overlay p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
}

.gallery__image img {
  width: 100%;
  height: auto;
  transition: .3s;
  transition-delay: 1s;
}

.gallery__image:hover .gallery__image--overlay {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.gallery .none {
  opacity: 0;
  transition: .4s;
}

.gallery .fade {
  opacity: 1 !important;
}
