.post__wrapper {
  margin: 7rem  0;
}

.post__img .img-box {
  width: 100%;
}

.post__img .img-box img {
  width: 100%;
}

.post__title h2 {
  font-size: 2rem;
  text-transform: capitalize;
  margin: 2rem 0;
}

.post__info {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: -1rem;
}

.post__info div {
  display: flex;
  align-items: center;
}

.post__info div span {
  margin-left: -3px;
}

.post__info svg {
  transform: scale(0.5);
}

.post__info__icon {
  transform: scale(0.6);
}

.post__info span {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.post__info span:not(:last-child) {
  margin-right: 1rem;
}
